body{
	margin: 0;
	background-image: url("gato-saltando-2849.jpg");

	background-attachment: fixed;
	background-size: 100%;
}

header {
	background:rgba(73, 68, 71, 0.8);
	color: white;
	padding: 25px 0px 50px 40px;
}

header h1 {
	display : inline;
	font-weight: 400;
	font size: 30px;
	float: left;
	margin-top: 0px;
	margin-left: 10px;
}

nav ul {
	display: inline;
	padding: 0px;
	float: right;
	margin-right: 10px;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 15px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}


.homepink{
	background-color: #333132;
	padding:30px 10px 15px 10px;

}

.homeblack:hover{
	background-color: #333132;
	padding:30px 10px 15px 10px;
}

.divider {
	background-color: rgba(255,105,180, 10);
	height: 10px;
}


.profile{
	width: 30%;
	height: 25%;
	margin-top: 5%;
	border-radius: 25%;
	margin-left: 20%;
	
}

.colorbg{
	background: rgba(0, 0, 0, 0.4);
}

.basicInfo{
	width: 	25%;
	height: 240%;
	padding: 5%;
	color: white;
	margin-top: 10%;
	margin-left: 5%;
}

.education{
	width: 	30%;
	height: 240%;
	padding: 6%;
	color: white;
	margin-top: -31%;
	margin-left: 60%;
}


#about{
	width: 420px;
	height: 360px;
	background: rgba(0, 0, 0, 0.4);
	padding: 10%;
	color:white;
	margin: 25%;
	text-align: center
}

#contact{
	
	margin: 25%;
	text-align: center;
}

footer{
	margin-top: 5%;
	text-align: center;
}